:root{
  --primary-color: #0b2540;     /* deep navy */
  --accent1-color: #ff6a00;     /* orange */
  --accent2-color: #f2f2f2;     /* light gray */
  --heading-font: Arial, sans-serif;
  --body-font: Arial, sans-serif;
}

/* required reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--body-font);
  color: #222;
  background: var(--accent2-color);
  line-height: 2;
}

/* required: limit width */
header, main, footer{
  width: 840px;
  margin: 0 auto;
}

/* header layout */
header{
  background: var(--primary-color);
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img{
  display: block;
}

/* nav - remove bullets and align links */
nav ul{
  list-style: none;
  display: flex;
  gap: 14px;
}

nav a{
  color: white;
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 6px 10px;
}


/* headings */
h1, h2{
  font-family: var(--heading-font);
}

/* ===== HERO OVERLAY ===== */
.hero{
  position: relative;
  margin-top: 16px;
}

/* hero image fills the hero area */
.hero img{
  display: block;     
  width: 100%;        
  height: auto;       
}

/* dark overlay so text is readable */
.hero::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.1);
}

/* overlay title */
.hero h1{
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0px;
  text-align: center;
  padding: 5px;
  color: var(--accent2-color);
  background: rgba(0,0,0,0.6);
}

/* overlay article */
.hero article{
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 16px;
  color: var(--primary-color);
  border-color: var(--accent1-color)
}

/* required style for the article image (float) */
.hero article img{
  float: right;
  width: 125px;
  height: auto;
  margin-left: 14px;
}

/* section styling */
section{
  margin: 16px 0;
  padding: 16px;
  background: white;
}

section h2{
  color: var(--primary-color);
  margin-bottom: 8px;
}

/* footer */
footer{
  background: var(--primary-color);
  color: white;
  padding: 12px 16px;
  margin-top: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* required: remove underline from social links */
.socialmedia a{
  text-decoration: none;
}

.socialmedia img{
  width: 30px;
  height: 30px;
  margin-left:0px;
  margin-top: 8px;
}
