table {
    border-collapse: collapse;
    border: 2px solid rbg(140 140 140);
    letter-spacing: 1px;
}

td{
    border: 1px solid #000;
    padding: 8px 12px;
    text-align: center;
}

thead tr, tfoot tr {
    background-color: #000;
    color: white;
    font-weight: bold;
}