*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }

:root {
    --dark-blue: #003366;
    --light-blue: #66ccff;
    --white: #ffffff;
    --no-shade: rgba(0, 0, 0, .1);
}

body {
    font-size: 16px;
}

nav {
    background-color: var(--dark-blue);
    padding: 10px;
}

nav a {
    color: var(--white);
    display: block;
    padding: 20px;
}

h1 {
    margin: 1rem;
    color: var(--dark-blue);
}

h2 {
    color: var(--white);
}

img {
    width: 250px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    margin: 1.25rem;
}

main {
    max-width: 840px;
}

main img {
    width: 220px;
    height: auto;
    border: 3px solid var(--white);
    padding: 1px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1em 1em;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 115px;
    left: 120px
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    border: 1px solid var(--no-shade);
    padding: 1rem;
    margin: 1rem;
    background-color: #eee;
    color: #000
}

.indent {
    padding-left: 2rem;
}